---
name: Bump

on:
  push:
    branches:
      - '**'
  workflow_dispatch: # Manual workflow trigger

jobs:
  bump-so-version:
    name:
    runs-on: ubuntu-latest
    env:
      GOPATH: ${{ github.workspace }}
    steps:
      - name: Setup Golang
        uses: actions/setup-go@v2
        with:
          go-version: 1.20.x

      - name: Checkout
        uses: actions/checkout@v3
        with:
          # Always checkout main, we don't support bumping for patch releases (for now)
          ref: main
          path: ./src/github.com/${{ github.repository }}
          fetch-depth: 0

      - name: Bump SO
        working-directory: ./src/github.com/${{ github.repository }}
        run: go run hack/cmd/bumpso/bumpso.go

      - name: Regenerate all generated files
        working-directory: ./src/github.com/${{ github.repository }}
        run: make generated-files

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v4
        with:
          path: ./src/github.com/${{ github.repository }}
          branch: auto/bump-so-version-${{ env.SO_VERSION }}
          title: "[${{ github.ref_name }}] Bump SO version to version ${{ env.SO_VERSION }}"
          commit-message: "Bump SO version to version ${{ env.SO_VERSION }}"
          delete-branch: true
          body: |
            Bump SO version + run `make generated-files`
