name: depndabot - update-deps.sh

on:
  pull_request:

permissions:
  contents: write

jobs:
  generate_some_code:
    name: Generate some code!
    runs-on: ubuntu-latest
    if: ${{ github.actor == 'dependabot[bot]' }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: ${{ github.head_ref }}
          path: ./src/github.com/${{ github.repository }}
          fetch-depth: 0

      - name: Setup Golang
        uses: openshift-knative/hack/actions/setup-go@main

      - name: Run ./hack/update-deps.sh
        working-directory: ./src/github.com/${{ github.repository }}
        run: ./hack/update-deps.sh

      - name: git push
        working-directory: ./src/github.com/${{ github.repository }}
        run: |
          if ! git diff --exit-code --quiet
          then
            git config --local user.email "41898282+github-actions[bot]@users.noreply.github.com"
            git config --local user.name "github-actions[bot]"
            git add .
            git commit -m "Run ./hack/update-deps.sh"
            git push
          fi
