---
name: Validate

on:
  push:
    branches:
      - '**'
    tags:
      - 'v*.*.*'
  pull_request:
    branches:
      - '**'

jobs:
  generated-files-commited:
    name: Generated files are commited
    runs-on: ubuntu-latest
    steps:
      - name: Install prerequisites
        env:
          YQ_VERSION: 3.4.0
        run: |
          sudo wget https://github.com/mikefarah/yq/releases/download/${YQ_VERSION}/yq_linux_amd64 -O /usr/bin/yq
          sudo chmod +x /usr/bin/yq

      - name: Checkout
        uses: actions/checkout@v2

      - name: Generate release files
        run: make release-files

      - name: Check if everything is consistent
        run: git diff --exit-code
